	</div>
</section>

<footer class="site-footer">
	<p class="text-right text-muted">Matcha &copy;mceccato 2016</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/assets/js/profile.js"></script>
<script src="/assets/js/close.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
<script src="/assets/js/message.js"></script>
<script src="/assets/js/easter.js"></script>

</body>
</html>