<header id="header" class="site-header">
	<nav class="navbar" role="navigation">
	    <div class="container-fluid">

	        <div class="navbar-header">
	            <a class="navbar-brand" href="/">
	                <span class="glyphicon glyphicon glyphicon-glass"></span>
	                Match'a partner !
	            </a>
	        </div>

	        <ul class="nav navbar-nav navbar-right">
	            <li><a href="/">Home</a></li>
	            <li><a href="/test">About</a></li>
	        </ul>
	      
	    </div>
	</nav>

</header>

<main class="site-content container-fluid">