<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#whoami" class="navbar-brand visible-xs">Mathieu Ceccato</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="/profile">Profile</a>
				</li>
				<li>
					<a href="/matcha">Matcha !</a>
				</li>
			</ul>
		</div>
	</div> <!-- End container -->
</nav> <!-- End navbar -->

<section class="site-content">
	<div class=" container-fluid">


