<% if (locals.sessUser && locals.sessUser.login ) { %>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand visible-xs">Matcha!</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/matcha">Matcha !</a>
				</li>
				<li>
					<a href="#">Notifications</a>
				</li>
				<li>
					<a href="/profile"><%= sessUser.login %></a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div> <!-- End container -->
</nav> <!-- End navbar -->
<% } %>


<% if (locals.flash && locals.flash.error) { %>
	<p class="bg-danger msg" id="flash">
		<%= flash.error %>
		<span>X</span>
	</p>
<% } %>
<% if (locals.flash && locals.flash.success) { %>
	<p class="bg-success msg" id="flash">
		<%= flash.success %>
		<span>X</span>
	</p>
<% } %>
<% if (locals.flash && locals.flash.info) { %>
	<p class="bg-info msg" id="flash">
		<%= flash.info %>
		<span>X</span>
	</p>
<% } %>


<section class="site-content">
	<div class=" container-fluid">
