<h3>Bloquer cet utilisateur :</h3>
<hr>

<p>
	Attention, vous allez bloquer cet utilisateur.<br />
	Celui-ci ne pourra plus intéragir avec vous.
</p>
<button class="btn btn-lg btn-danger center-block" id="block-user">
	Bloquer !
</button>