<div class="profile-sidebar">
	<!-- SIDEBAR USERPIC -->
	<div class="profile-userpic" id="profile-userpic">
	
		<% if (profilePic) { %>
			<img src="<%= profilePic %>" class="img-responsive" alt="">
		<% } else { %>
			<img src="http://www.le-lab.info/cdac/sites/le-lab.info.cdac/files/ane_4.jpg" class="img-responsive" alt="">
		<% } %>
	</div>
	<!-- END SIDEBAR USERPIC -->
	<!-- SIDEBAR USER TITLE -->
	<div class="profile-usertitle">
		<div class="profile-usertitle-name" id="login"><%= user.login %></div>
		<div class="profile-usertitle-job">
			<span>Score de popularité : </span> <!-- (like / nbr de vue) x 100 -->
		</div>
	</div>
	<!-- END SIDEBAR USER TITLE -->
	<!-- SIDEBAR BUTTONS -->
	<div class="profile-userbuttons">
		<a href="#" class="btn btn-info btn-sm">
			<i class="glyphicon glyphicon-fire"></i>
			Tu me plais !
		</a>
		<a href="#" class="btn btn-danger btn-sm">
			<i class="glyphicon glyphicon-pencil"></i>
			Message
		</a>
	</div>
	<!-- END SIDEBAR BUTTONS -->
	<!-- SIDEBAR MENU -->
	<div class="profile-usermenu">
		<ul class="nav" role="tablist">
			<li role="presentation" class="active">
				<a href="#infos" aria-controls="infos" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-user"></i>
					Infos
				</a>
			</li>
			<li role="presentation">
				<a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-picture"></i>
					Photos
				</a>
			<li role="presentation">
				<a href="#visites" aria-controls="visites" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-eye-open"></i>
					Visites
				</a>
			</li>
			<li role="presentation">
				<a href="#suggestions" aria-controls="suggestions" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-hand-right"></i>
					Suggestions
				</a>
			</li>
			</li>
			<li role="presentation">
				<a href="#signaler" aria-controls="signaler" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-alert"></i>
					Signaler
				</a>
			</li>
		</ul>
	</div>
	<!-- END MENU -->
</div>