<div class="profile-sidebar">
	<!-- SIDEBAR USERPIC -->
	<div class="profile-userpic" id="profile-userpic">
	
		<% if (profilePic) { %>
			<img src="<%= profilePic %>" class="img-responsive" alt="">
		<% } else { %>
			<img src="https://source.unsplash.com/random" class="img-responsive" alt="random_pic">
		<% } %>
	</div>
	<!-- END SIDEBAR USERPIC -->
	<!-- SIDEBAR USER TITLE -->
	<div class="profile-usertitle">
		<div class="profile-usertitle-name" id="login"><%= user.login %></div>
		<div class="profile-usertitle-job">
			<span>Score de popularité : </span>
			<%= popularity %> %
		</div>
	</div>
	<!-- END SIDEBAR USER TITLE -->
	<!-- SIDEBAR BUTTONS -->
	<div class="profile-userbuttons">
		<% if (ownProfile == 0 && canLike == 1) { %>
			<% if (isLike == 0) { %>
				<a href="javascript:;" class="btn btn-info btn-sm button-like" id="like">
					<i class="glyphicon glyphicon-heart-empty"></i>
					Tu me plais !
				</a>
			<%  } else { %>
				<a href="javascript:;" class="btn btn-info btn-sm button-like button-like-liked" id="like">
					<i class="glyphicon glyphicon-heart"></i>
					Tu ne me plais plus !
				</a>
			<% } %>
		<% } %>
		<% if (ownProfile == 0 && mutualLike == 1 ) { %>
			<a href="javascript:;" class="btn btn-danger btn-sm" id="discution">
				<i class="glyphicon glyphicon-pencil"></i>
				Message
			</a>
		<% } %>
	</div>
	<!-- END SIDEBAR BUTTONS -->
	<!-- SIDEBAR MENU -->
	<div class="profile-usermenu">
		<ul class="nav" role="tablist">
			<li role="presentation" class="active">
				<a href="#infos" aria-controls="infos" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-user"></i>
					Infos
				</a>
			</li>
			<li role="presentation">
				<a href="#interets" aria-controls="interets" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-tags"></i>
					Intérêts
				</a>
			</li>
			<li role="presentation">
				<a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">
					<i class="glyphicon glyphicon-picture"></i>
					Photos
				</a>
			</li>
			<% if (ownProfile == 1 ) { %>
				<li role="presentation">
					<a href="#visites" aria-controls="visites" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-eye-open"></i>
						Visites
					</a>
				</li>
				<li role="presentation">
					<a href="#likes" aria-controls="likes" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-fire"></i>
						Likes
					</a>
				</li>
				<li role="presentation">
					<a href="#suggestions" aria-controls="suggestions" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-hand-right"></i>
						Suggestions
					</a>
				</li>
			<% } %>
			<% if (ownProfile != 1 ) { %>
				<li role="presentation">
					<a href="#signaler" aria-controls="signaler" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-alert"></i>
						Signaler
					</a>
				</li>

				<li role="presentation">
					<a href="#bloquer" aria-controls="bloquer" role="tab" data-toggle="tab">
						<i class="glyphicon glyphicon-ban-circle"></i>
						Bloquer
					</a>
				</li>
			<% } %>
		</ul>
	</div>
	<!-- END MENU -->
</div>