<h3>Ma liste d'intérêts :</h3>
<hr>

<div id="profileinterets">

	<p id="profileinterets-error"></p>

		<ul id="interestList">

		</ul>

	<% if (ownProfile == 1) { %>
		<a href="javascript:;" class="btn btn-warning" id="edit-interest">
			<i class="glyphicon glyphicon-edit"></i>
			Modifier vos intérêts
		</a>
	<% } %>


</div>
<% if (ownProfile == 1) { %>
	<% include ../partials/profileEditInterets %>
<% } %>
	