<header id="header" class="site-header">
	<a href="index.php" class="title">
		<h1>Match'a partner !</h1>
	</a>
	<nav id="nav-menu">
		<ul>
			<li><a href="index.php" class="elem-menu">Accueil</a></li>
			<li><a href="galerie.php" class="elem-menu">Galerie</a></li>
		</ul>
	</nav>
</header>

<main class="site-content">