body { display: flex; flex-direction: column; min-height: 100vh; background-color: #ddd; font-family: 'Open Sans', sans-serif; }
.site-content { flex: 1; width: 100%; }
#header a { color: #777; }
a { transition: all 0.4s ease-out; color: inherit; }
a:hover { text-decoration: none; color: #D9187C; font-size: 1.1em; }

/* Rewrite style */
#header a:hover { color: #D9187C; background-color: transparent; }
.navbar-nav>li>a { font-weight: 500; }
button { border: 1px solid #D9187C; color: #D9187C; background-color: transparent; padding: 6px 11px 7px; font-weight: bold; transition: all 0.4s ease-out }
button:hover { background-color: #D9187C; color: #ddd; }
.master-home .row:nth-child(even) button:hover { color: #333; }


/* Header */
.nav > li { display: inline-block; }


/* Footer */
.site-footer p { padding-right: 40px; }


/* Home */
.master-home .row { padding: 30px 0; }
.master-home .row:nth-child(even) { background-color: #333; color: #ddd; }
.master-home .row:nth-child(even) hr { border-color: #D9187C; }
.master-home .row:nth-child(odd) hr { border-color: #ccc; }


/* Form */
.form-horizontal button { margin-top: 25px; }
.form-horizontal .control-label { text-align: left; }
input[type=text] { width: 80%; color: #333; padding-left: 5px; }

 @media (max-width: 768px) {
 	input[type=text] { width: 100%; }
 }