body { display: flex; flex-direction: column; min-height: 100vh; background-color: #ddd; font-family: 'Open Sans', sans-serif; color: #444; }
.site-content { flex: 1; width: 100%; }
#header a { color: #777; }
a { transition: all 0.4s ease-out; color: inherit; }
a:hover { text-decoration: none; color: #D9187C; font-size: 1.1em; }
a.navbar-brand:hover { font-size: 19px; }

/* Rewrite style */
#header a:hover { color: #D9187C; background-color: transparent; }
.navbar-nav>li>a { font-weight: 500; }
.glyphicon { color: #D9187C; }
input[type=submit] { border: 1px solid #D9187C; color: #D9187C; background-color: transparent; padding: 6px 13px 7px; font-weight: bold; transition: all 0.4s ease-out }
input[type=submit]:hover { background-color: #D9187C; color: #ddd; }
.row:nth-child(odd) input[type=submit]:hover { color: #333; }


/* Header */
.nav > li { display: inline-block; }


/* Footer */
.site-footer p { padding-right: 40px; }


/* Home */
.row { padding: 20px 0 30px; }
.row:nth-child(odd) { background-color: #333; color: #ddd; }
.row:nth-child(odd) hr { border-color: #D9187C; }
.row:nth-child(even) hr { border-color: #ccc; }


/* Form */
.form-horizontal button { margin-top: 25px; }
.form-horizontal .control-label { text-align: left; }
input[type=text], input[type=password] { width: 80%; color: #333; padding-left: 5px; }

 @media (max-width: 768px) {
 	input[type=text], input[type=password] { width: 100%; }
 }


 /* Profile */
 .profil-picture h2, .profil-infos h3 { text-align: center; }