body { display: flex; flex-direction: column; min-height: 100vh; background-color: #4e4e4e; font-family: 'Open Sans', sans-serif; color: #fff; padding-top: 61px; }
.site-content { flex: 1; }

/**** Rewrite style ****/

a { transition: all 0.4s ease-out; color: inherit; }
a:hover,
a:focus { text-decoration: none; color: #D9187C; }
hr { border-color: #D9187C; }
.glyphicon { color: #D9187C; }
.row { padding-top: 20px; }
.strong { font-weight: bold; color: #D9187C; }

/**** FLASH ****/
.msg { padding: 15px; text-align: center; font-weight: bold; position: fixed; display: block; left: 0; right: 0; z-index: 50; }
.bg-danger { color: red; border: #ffaaaa solid; border-width: 1px 0 1px 0; }
.bg-success { color: green; border: green solid; border-width: 1px 0 1px 0; }
.bg-info { color: #0091ff; border: #0091ff solid; border-width: 1px 0 1px 0; }
#flash span { position: absolute; right: 50px; cursor: pointer; }


/**** NAVBAR ****/

@media (min-width: 768px) {
	.navbar-nav {
		float: none;
		display: table;
		margin: 0 auto;
	}

	.navbar-brand {
		padding: 25px 20px 20px;
	}

	.navbar-default .navbar-nav>li>a {
		padding: 20px;
	}
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
	background-color: #252525;
	border-color: #444;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #D9187C;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #D9187C;
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}


/**** FOOTER ****/

.site-footer p { padding-right: 40px; }



/**** FORM ****/

#signup,
#signin { padding-top: 60px; }
.form-horizontal button { margin-top: 25px; }
.form-horizontal .control-label { text-align: left; }
textarea,
input[type=text],
input[type=password],
input[type=email] { width: 80%; color: #333; padding-left: 5px; }
input[type=submit] { border: 1px solid #D9187C; color: #D9187C; background-color: transparent; padding: 6px 13px 7px; font-weight: bold; transition: all 0.4s ease-out }
input[type=submit]:hover { background-color: #D9187C; color: #4a4a4a; }
textarea { min-height: 70px; }

@media (max-width: 768px) {
	input[type=text], input[type=password] { width: 100%; }
}


/**** PROFILE ****/


/* Profile container */
.profile {
  margin-top: 20px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 0 0 10px;
  margin-bottom: 20px;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  max-width: unset;
  width: 100%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

#connection-info {
  color: #a2a2a2;
  text-align: center;
  margin-top: 7px;
}

#connection-info span {
  font-weight: bold;
  color: orangered;
  display: block;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #a2a2a2;
  font-size: 14px;
  font-weight: 400;
}

.profile-userbuttons a i {
  margin-right: 5px;
  font-size: 14px;
  color: #fff;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #6b6b6b;
}

.online {
  color: darkseagreen;
  font-weight: bold;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #f75dad;
  background-color: #f6f9fb;
  border-left: 3px solid #f75dad;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  min-height: 460px;
}

.tab-content .glyphicon {
	color: inherit;
}


.profileinfo a i { margin-right: 5px; }
.gear { position: relative; display: block; margin-bottom: 10px; padding-bottom: 15px; }
.gear a.editlink { position: absolute; right: 0; top: 13px; }
.datainfo { margin-left: 10px; font-size: 11px; }
#profileinfo label { min-width: 140px; }
label { display: inline-block; font-weight: bold; font-size: 12px; width: auto; min-width: 80px; }


#profileinfo-edit {
  display: none;
}

/* Upload */

.upload form {
  display: inline-block;
}

.upload label span {
  font-weight: bold;
  padding-left: 3px;
  color: #000;
}

.upload {
  margin-bottom: 30px;
}

.upload label svg {
  color: #fff;
}

.img-container {
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.img-container:nth-child(3n+1) {
  clear: left;
}

.img-container img {
  max-height: 200px;
  width: auto;
}

.img-container span.delete {
  position: absolute;
  top: -14px;
  right: -10px;
  padding: 1px 6px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.img-container span.setProfile {
  position: absolute;
  bottom: 8px;
  right: -10px;
  padding: 1px 5px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}



/* interests */

#interestList li {
  list-style-type: none;
  margin-bottom: 5px;
}

#profileinterets-edit {
  display: none;
}


/* Viewers */

.viewer {
  text-align: center;
}

.viewer img {
  max-height: 200px;
  width: auto;
  margin: 0 auto 10px;
}

a:hover.viewer {
  color: #e45da3;
}


/* FENETRE DE CHAT */

#chat-window {
  display: none;
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 380px;
  background-color: #fff;
  z-index: 50;
  border: solid #333;
  color: #000;
  border-width: 1px 1px 0;
}

#chat-window .chat-heading {
  position: relative;
  color: #fff;
  background-color: #e45da3;
  padding: 3px 10px;
  border-bottom: 1px solid #d9187c;
}

#chat-window .chat-heading span {
  position: absolute;
  right: 5px;
  padding: 0 5px;
  cursor: pointer;
  transition: all ease-out 0.6s;
}

#chat-window .chat-heading span:hover {
  color: #000;
  transform: rotate(180deg);
  transform-origin: center;
  font-weight: bolder;
}

#chat-window .chat-body {
  height: 350px;
  display: block;
}

#chat-window .chat-body #messages {
  overflow-y: scroll;
  word-break: break-word;
  max-height: 100%;
  padding: 10px 10px 5px;
}

#chat-window .chat-body #messages p {
  margin-bottom: 8px;
  max-width: 75%;
  padding: 6px 12px;
  border-radius: 14px;
  clear: both;
}

#chat-window .chat-body #messages p.me {
  color: #fff;
  float: right;
  text-align: right;
  background-color: #44bec7;
}

#chat-window .chat-body #messages p.you {
  color: #000;
  float: left;
  text-align: left;
  background-color: #f1f0f0;
}

#chat-window .chat-body #messages span {
  font-weight: bold;
  font-style: italic;
  color: #333;
}

#chat input {
  float: left;
  padding: 4px 5px;
  width: 75%
}

#chat input:focus {
  outline: none;
}

#chat button {
  padding: 5px 0;
  float: left;
  width: 25%;
  border-radius: 0;
}


/* SIGNALER */

#signaler p {
  text-align: center;
}

#bloquer p {
  text-align: center;
}














