<% include ../partials/head %>
<% include ../partials/header %>


<div class="container">
	<div class="row profile">
		<div class="col-md-4">
			<% include ../partials/profileSide %>
		</div> <!-- END COL MD 4 -->

		<div class="col-md-8 tab-content">
			<div role="tabpanel" class="tab-pane active" id="infos">
				<% include ../partials/profileInfos %>

				<% if (ownProfile == 1) { %>
					<% include ../partials/profileEditInfos %>
				<% } %>
			</div>

			<div role="tabpanel" class="tab-pane" id="interets">
				<% include ../partials/profileInterets %>
			</div>

			<div role="tabpanel" class="tab-pane" id="photos">
				<% include ../partials/profilePhotos %>
			</div>

			<% if (ownProfile == 1 ) { %>
				<div role="tabpanel" class="tab-pane" id="visites">
					<% include ../partials/profileVisites %>
				</div>

				<div role="tabpanel" class="tab-pane" id="likes">
					<% include ../partials/profileLikes %>
				</div>

				<div role="tabpanel" class="tab-pane" id="suggestions">
					 <h3>Nos suggestions :</h3>
					 <hr>
				</div>
			<% } %>

			<% if (ownProfile != 1 ) { %>
				<div role="tabpanel" class="tab-pane" id="signaler">
					 signaler
				</div>

				<div role="tabpanel" class="tab-pane" id="bloquer">
					 bloquer
				</div>
			<% } %>
		</div> <!-- END COL MD 8 -->
	</div>

	<% if (ownProfile == 0 && mutualLike == 1 ) { %>
		<% include ../partials/chat %>
	<% } %>
	
</div>



<input type="hidden" id="ownProfile" value="<%= ownProfile %>">
<input type="hidden" id="currentProfile" value="<%= user.login %>">
<input type="hidden" id="currentUser" value="<%= currentUser %>">



<% include ../partials/footer %>
