<% include ../partials/head %>
<% include ../partials/header %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/assets/js/profile.js"></script>


<div class="container">
	<div class="row profile">
		<div class="col-md-4">
			<% include ../partials/profileSide %>
		</div> <!-- END COL MD 4 -->

		<div class="col-md-8 tab-content">
			<div role="tabpanel" class="tab-pane active" id="infos">
				<% include ../partials/profileInfos %>

				<% if (ownProfile == 1) { %>
					<% include ../partials/profileEditInfos %>
				<% } %>
			</div>

			<div role="tabpanel" class="tab-pane" id="interets">
				<% include ../partials/profileInterets %>
			</div>

			<div role="tabpanel" class="tab-pane" id="photos">
				<% include ../partials/profilePhotos %>
			</div>

			<% if (ownProfile == 1 ) { %>
				<div role="tabpanel" class="tab-pane" id="visites">
					 Ils ont vu ton profile (mais ne t'ont pas liké les batards !)
				</div>

				<div role="tabpanel" class="tab-pane" id="likes">
					 <h2>Ils ont liké ton profile !</h2>
				</div>

				<div role="tabpanel" class="tab-pane" id="suggestions">
					 suggestions
				</div>
			<% } %>

			<% if (ownProfile != 1 ) { %>
				<div role="tabpanel" class="tab-pane" id="signaler">
					 signaler
				</div>

				<div role="tabpanel" class="tab-pane" id="bloquer">
					 bloquer
				</div>
			<% } %>
		</div> <!-- END COL MD 8 -->
	</div>
</div>

<input type="hidden" id="ownProfile" value="<%= ownProfile %>">
<script src="/assets/js/close.js"></script>

<% include ../partials/footer %>

</body>
</html>