<% include ../partials/head %>
<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
		<div class="profile-picture">
			<h2>profile de machin</h2>
			<img src="http://static.mnium.org/images/contenu/actus/Heroes_Storm/Heros/Guldan/sommaire_guldan.jpg" class="center-block img-responsive">
		</div>
	</div>
	<div class="col-md-8">
		<div class="profile-infos">
			<h3>About me</h3>
			<div class="inner-profile-infos">
				<p>
					some text bl regeargaeg eatgegbsetgbsetbgnsegesowrthwsrlhtnusortgssrthsrthrouhgousrsrthnsrlghorsu srthnisorht
				</p>
				<div class="personnal-infos clearfix">
					<div class="col-md-5">
						<p class="lead">
							My name :
						</p>
					</div>
					<div class="col-md-7">
						<p>
							Gul'Dan
						</p>
					</div>
				</div>
				<div class="personnal-infos clearfix">
					<div class="col-md-5">
						<p class="lead">
							My age :
						</p>
					</div>
					<div class="col-md-7">
						<p>
							234
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<% if (locals.sessUser && locals.sessUser.login) { %>
	<p>
		<%= sessUser.login %>
	</p>
<% } %>


<script src="/assets/js/close.js"></script>


<% include ../partials/footer %>

</body>
</html>