<% include ../partials/head %>
<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
		<div class="profil-picture">
			<h2>Profile de machin</h2>
			<img src="http://static.mnium.org/images/contenu/actus/Heroes_Storm/Heros/Guldan/sommaire_guldan.jpg" class="center-block img-responsive">
		</div>
	</div>
	<div class="col-md-8">
		<div class="profil-infos">
			<h3>Mes infos</h3>
			<div class="inner-profil-infos">
				<p>
					some text bl regeargaeg eatgegbsetgb setbgnsegeso
				</p>
				<h4>My name</h4>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>

</body>
</html>