<% include ../partials/head %>
<% include ../partials/header %>

<div class="row">
	<div class="col-md-6">
	
		<div class="well">
			<h1>Sign in</h1>
			<p>Welcome to templating using EJS</p>
		</div>
		
	</div>
	<div class="col-md-6">
		
		<div class="well">
			<h1>Sign up</h1>
			<p>Welcome to Matcha, you can register down there</p>
		</div>

	</div>
</div>

<% include ../partials/footer %>	

	
</body>
</html>